.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: rgb(240 188 0);
  height: 2.5rem;
}


mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
